body {
    color: #ffffff;
    background: #000000;
    margin: 0px;
    font-family: "Prata", serif;
    margin-bottom: 100px;
}


header{
    border-bottom:solid 3px #800080;
    padding: 20px;
    font-size: 40px;
    color: #800080;
    font-family: "Kalnia Glaze", serif;
}


.Start{
    background: #2d76ff;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.Texto1{
    margin-right: 5%;
}

h1{
    font-size: 30px;
}

p{
    font-size: 15px;
}


.Categorias-de-video{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.Films{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.Categorias-de-video img{
    opacity: 0.5;
    height: 200px;
}

.Categorias-de-video img:hover{
    opacity: 1.0;
    border: 1px solid #ffff00;
}

.Films h2{
    color:#dc143c
}


.SubTitle{
    margin-block-start: -2em;
    margin-block-end: 0em;
    font-size: 11px;
}